.orpheus {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: url('/assets/minecraft.jpg');
  // background-position: center;
  // background-size: cover;

  .box {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // background-color: rgba(0, 0, 0, .5);
    // color: #eee;
    padding: 10px 20px;
  }

  label {
    align-self: flex-start;
  }

  .serverData {
      height: 20vh;
      width: 100%;
      background: rgba(0, 0, 0, .1);
      border: solid white;
      border-width: 0px 0px 2px 0px;
      margin: 0 0 1em 0;
      resize: vertical;
      color: rgba(255, 255, 255, .8);
  }

  .status {
      font-size: 1.2em;
      .reload {
          background: none;
          border: none;
          * {
              height: 1em;
          }

          .loading {
              animation: rotation 2s infinite linear;
          }
      }
  }

  .error {
      color: rgba(255, 100, 100, 1);
  }

  .submit {
      padding: 1em 2em;
      background-color: green;
      border: none;
      color: white;
      border-radius: 2px;
      font-size: 1.2em;
      font-weight: 700;
      cursor: pointer;
  }

  .green { background-color: rgb(0, 87, 17); }
  .red { background-color: rgb(104, 0, 0); }
  .disabled { background-color: rgb(79, 79, 79); cursor: auto;}
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}
