.md {
  p { margin-bottom: 1em; width: 100%; }
  a { text-decoration: underline; }
  h1 { font-weight: 700; margin-top: 1em; font-size: 1.4rem; }
  h2 { font-weight: 700; margin-top: 1em; font-size: 1.3rem; }
  h3 { font-weight: 700; margin-top: 1em; font-size: 1.2rem; }
  h4 { font-weight: 700; margin-top: 1em; font-size: 1.1rem; }
  h5 { font-weight: 700; margin-top: 1em; }

  ul { list-style-type: disc; padding-left: 1em; }

  table {
    margin-bottom: 1em;
    td {
      padding: 4px 8px;
      border: 1px solid black;
    }
  }

  .media {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    .images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 5px;

      > * {
        max-height: 10em;
        @media (min-width: 768px) { max-height: 15em; }
      }
      // video { display: none; }
    }
    small { text-align: center; }
  }
}
